body {
  text-align: center;
  overflow-x: hidden;
}

.scrollable-chart-container {
  min-width: 200px;
  max-width: 600px;
  overflow-x: scroll !important;
}

.chart-container {
  width: 100%;
  display: inline-block;
}

/* ::-webkit-scrollbar {
  width: 10px;
} */

::-webkit-scrollbar-thumb {
  background-color: #888;
}
